@charset "utf-8";

/* 背景 */
body{
    background-color: #E0F2F1;
    width: 100%;
}

/* ホバーアクション */
.card-hover:hover{
    background-color: #f8f8f5;
}

.icon-hover:hover{
    /* background-color: #d6d6d1; */
    opacity: 0.7;
}

.user-name-hover:hover{
    border-bottom: solid 1px;
}

/* ヘッダー・サイドバー*/
.navbar{
    width: 100%;
    box-shadow: none;
    position: fixed;
    z-index: 11;
}

.navbar-brand{
    color: #FF9800;
    font-size: 25px;
}

.navbar-brand:hover{
    color: #FF9800;
    opacity: 0.6;
}

.clear-decoration{
    border: none; /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}

/* コンテンツ切り替え部分 */
.main-content{
    margin-top: 100px;
}

/* ユーザープロフィール */
.orange-color{
    background-color: #f7b655;
}

.edit-btn{
    box-shadow: none;
    padding-bottom: 3px;
}

.edit-btn:hover{
    box-shadow: none;
    opacity: 0.7;
}

.like{
    display: none;
}

/* フォローボタン関連 */
.follow-btn{
    box-shadow: none;
    padding: 10px 19px;
    background-color: #ffffff;
    border: 1px solid #f7b655;
    color: #f7b655;
}

.unfollow-btn{
    box-shadow: none;
    padding: 10px 25px;
    background-color: #f7b655;
    line-height: 1.5em;
}

.follow-btn:hover{
    box-shadow: none;
    color: #f7b655;
    background-color: #f8f8f5;
}

.unfollow-btn:hover{
    box-shadow: none;
    background-color: #d32d03;
}

button .follow-hover{
    display: none;
}

button:hover .follow-nomal{
    display: none;
}

button:hover .follow-hover{
    display: inline;
}

/* プロフィール編集 */
.profile-image:hover{
    opacity: 0.7;
}

.icon-update{
    display: none;
}

/* 各ページの説明card */
.description-card{
    text-align: center;
}

.card-title-border{
    padding-bottom: 3px;
    display: inline-block;
    border-bottom: solid 1.2px;
}
