@charset "utf-8";

/* 共通 */
/* 背景 */
body{
    background-color: #E0F2F1;
    width: 100%;
}

.main-content{
    margin: 110px 15px 15px 15px;
}

.card{
    box-shadow: none;
}

/* ホバーアクション */
.card-hover:hover{
    background-color: #d6d6d2dc;
}

.icon-hover:hover{
    opacity: 0.6;
}

.user-name-hover:hover{
    border-bottom: solid 1px;
}

/* ボタン（影なし） */
.btn-shadow{
    box-shadow: none;
}

.btn-shadow:hover{
    box-shadow: none;
    opacity: 0.7;
}

/* ヘッダー・サイドバー*/
.navbar{
    width: 100%;
    box-shadow: none;
    position: fixed;
    z-index: 11;
}

.navbar-brand{
    color: #FF9800;
    font-size: 25px;
}

.navbar-brand:hover{
    color: #FF9800;
    opacity: 0.6;
}

/* オレンジのボタン */
.orange-color{
    background-color: #f7b655;
}

/* 各ページの説明card */
.description-card{
    text-align: center;
}

.card-title-border{
    padding-bottom: 3px;
    display: inline-block;
    border-bottom: solid 1.2px;
}

/* 掲示板投稿ボタン */
.post-btn{
    position: fixed;
    background-color: #f7b655;
    right: 35px;
    bottom: 35px;
}
