/* ユーザー関連 */
/* プロフィール画面 */
.btn-bulletin, .btn-like, .btn-user{
    box-shadow: none;
    font-size: 18px;
}

.btn-bulletin:hover, .btn-like:hover, .btn-user:hover{
    box-shadow: none;
    background-color: #fdc879;
}

/* プロフィール編集画面 */
.icon-update{
    display: none;
}

/* フォロー一覧画面 */
.btn-following, .btn-follower{
    box-shadow: none;
    font-size: 18px;
}

.btn-following:hover, .btn-follower:hover{
    box-shadow: none;
    background-color: #fdc879;
}

